<div class="cart-container">
  <div class="empty-cart-message" *ngIf="getProducts().length == 0">No item in cart !</div>

  <div class="cart-panel" *ngIf="getProducts().length > 0">
    <div class="cart-item" *ngFor="let selectedProduct of getProducts()">
      <img [src]="selectedProduct.product.url" [alt]="selectedProduct.product.name">
      <div class="cart-item-details">
        <h4>{{ selectedProduct.product.name }}</h4>
        <p>$ {{ selectedProduct.product.price }}</p>
        <input type="number" [ngModel]="selectedProduct.quantity" min="0" class="number-input" (ngModelChange)="handleQuantityChange($event, selectedProduct)">
      </div>
    </div>
    <strong>Total: $ {{ getTotalPrice() }}</strong>
  </div>


  <!-- Todo: Change the following form to an event driven form -->
  <div class="cart-panel" *ngIf="getProducts().length > 0">
    <form [formGroup]="buyerForm" (ngSubmit)="onSubmit()">
      <div class="form-group form-margin">
        <label for="full-name">Full name</label>
        <input type="text" formControlName="fullName" class="form-control" id="full-name" placeholder="(minimum 3 characters)">
        <!--small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
      </div>
      <div class="form-group form-margin">
        <label for="address">Address</label>
        <input type="text" formControlName="address" class="form-control" id="address" placeholder="(minimum 6 characters)">
        <!--small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
      </div>
      <div class="form-group form-margin">
        <label for="card">Credit card number</label>
        <input type="text" formControlName="cardNumber" class="form-control" id="card" placeholder="(16-digit-number)">
        <!--small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
      </div>
      <button type="submit" [disabled]="!buyerForm.valid" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
