<div class="confirmation-container">
  <div class="confirmation-items">
    <h2 class="confirmation-header">Success! 🎉</h2>
    <div class="confirmation-item">Thank you, <strong>{{ cartService.order.fullName }}</strong></div>
    <div class="confirmation-item">Your <strong>$ {{ cartService.getTotalPrice() }}</strong> order is confirmed!</div>
    <div class="confirmation-item">Please, allow 1-3 business day(s) for shipping</div>
    <div class="confirmation-item">
      <a routerLink="/" class="btn btn-primary">Back to product list</a>
    </div>
  </div>
</div>
